.executions-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.projects-data {
  background-color: white;
  width: 20vw;
  /*border-right: 1px solid lightgrey;*/
  max-height: 90vh;
  overflow: auto;
}

.testsuite-data {
  background-color: white;
  width: 20vw;
  overflow: auto;
  max-height: 90vh;
}

.teststep-data {
  height: 100vh;
  background-color: white;
  width: 60vw;
}

.project-execution-container {
  font-size: .75em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}

/*.project-execution-container:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1), 0 4px 10px rgba(0,0,0,0.2);
}*/

.project-status {
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

.project-status h1 {
  margin: 0;
  font-size: 14px;
  color: white;
}

.project-details {
  text-align: left;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project-details h2 {
  font-size: 14px;
  margin: 0;
}

.project-details h3 {
  margin: 0;
  font-weight: lighter;
}

.project-details h4 {
  text-align: right;
}

.details-bar {
  border-top: 1px solid lightgrey;
  background-color: #F9F9F9;
  color: black;
  padding: 2px;
  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
  cursor: pointer;
}

.details-bar h4 {
  letter-spacing: 2px;
  margin: 0;
}
