.project-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: .75em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  margin: 10px;
  /*border-radius: 5px;*/
  background-color: #F9F9F9;
  margin-bottom: 20px;
}

.project-container-header {
  text-align: center;
  background-color: #F9F9F9;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid lightgrey;
}

.project-table {
  width: 100%;
}

.project-row {
  background-color: white;
}

.mini-testsuite-container {
  background-color: lightblue;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.2);*/
  margin: 10px;
  /*border-radius: 5px;*/
  margin-bottom: 20px;
  cursor: pointer;
}

.mini-testsuite-container:active {
  background-color: grey;
}
